<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe of the Day</title>
    <style>
      /* Default color scheme */
      body {
        background-color: white;
        color: black;
      }

      /* Dark mode color scheme */
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #222;
          color: #dcdcdc;
        }
      }
    </style>
  </head>
  <body>
    <h1>Recipe of the Day</h1>
    {{ if .Recipe }}
    <h2>{{ .Recipe.Name }}</h2>
    <p>{{ .Recipe.Description }}</p>
    <h3>Ingredients:</h3>
    <ul>
      {{ range .Recipe.Ingredients }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    <h3>Directions:</h3>
    <ol>
      {{ range .Recipe.Directions }}
      <li>{{ . }}</li>
      {{ end }}
    </ol>
    {{ else }}
    <p>No recipe found.</p>
    {{ end }}
  </body>
</html>
